*{
    font-family: times, arial;
    box-sizing: border-box;
    text-decoration: none;
    direction: rtl;
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    background: #fff;
}
.contaner
{
    min-height: 100%;
}
section
{
    background-color: #333;
    color:#fff;
}
.navbar1 ul li
{
    text-decoration: none;
    display: inline;
    margin:0 0.5rem;
    font-weight: bold;
    font-size: small;
    padding-top: 10px;
}
.navbar1 #more1
{
    display: none;
    flex-wrap: wrap;
}
#loadmore1
{
    background-color: #333;
    text-align: center;
    color: #fff;
    font-size: large;
}
.mobileNav
{
    display: inline-block;
    width: 100%;
    background-color: #111111;
    position: relative;
    height: auto;
}
.toggle
{
    width:30px;
    position: absolute;
    right: 30px;
    top: 10px;
    display: none;
}
.toggle span
{
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    float: left;
    margin-bottom: 8px;
}
.logo
{
    float: left;
}
.navbar2 ul li
{
    text-decoration: none;
    display: inline-block;
    margin:0 1rem;
    font-weight: bold; 
}
a
{
    font-family: times, arial;
    color: #fff;
    font-size: large;
}
.navbar1
{    
    background-color: #333;
    padding: 10px;
}
.navbar2
{
    background-color: #111111;
    padding: 10px;
    float: right;
    height: auto;
}
.navbar2 ul li h2
{
    float:left;
    color:aliceblue;
    margin-left: 120px;
}
.prompt
{
    color: #fff;
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 5px;
    background-color: #f00;
}
marquee
{
    width: auto;
}
.header
{
    display: flex;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}
.header img
{
    width:500px;
    height: 400px;
}
.paragraph
{
    padding: 10px;
    font-weight: bold;
    border: 1px dashed #495575;
    width: 500px;
    height: 400px;
    background-image: url('vs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: grid;
}
.header .paragraph h1
{
    padding: 10px;
    font-weight: bold;
    color: #fff;
    animation: animate 3s linear infinite;
}
.header .paragraph h1 span
{
    display: block;
    padding: 10px;
}

.paragraph h1:nth-child(1)
{
    animation-delay: 0s;
}
.paragraph h1:nth-child(2)
{
    animation-delay: 0.25s;
}
.paragraph h1:nth-child(3)
{
    animation-delay: 0.5s;
}
.paragraph h1:nth-child(4)
{
    animation-delay: 0.75s;
}
@keyframes animate
{
    0%,100%
    {
        color: #fff;
        filter: blur(2px);
        text-shadow: 0 0 5px #00b3ff;                    
    }
    15%,75%
    {
        color: blue;
        filter: blur(0px);
    }
    75%,95%
    {
        color: red;
        filter: blur(0px);
    }
    
}
.vide
{
    height: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #333;
}
.boxContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:20px 0;
    width: 85%;
    margin:0 auto;
}
.box
{
    border:1px solid #151B2A;
    position: relative;
    margin:20px;
    width: 302px;
    height: 330px;
    background-color: #fff;
    color: black;
    transition: 5s ease-in-out all;
}
.boxContainer #more
{
    display: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#loadmore
{
    margin: 15px auto 15px;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
    background-color: #111111;
    display: block;
}

.box .info
{
    padding: 8px;
}
.box2
{
    direction: ltr;
    justify-content: center;
    height: 250px;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}
.box2 img
{
    direction: ltr;
    width: 300px;
    height: 250px;
    padding-right: 15px;
}
.box2 .vide2
{
    border: 1px solid #333;
    background-color: #333;
    width: 600px;
    height: 250px;
}
/*contact*/

.contact
{
    direction: ltr;
    height: 410px;
    width: 800px;
    display: block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #333;
    border-radius: 15px;
    background-color: #333;
}
.contact h1
{
    text-align: center;
    justify-content: center;
    color: black;
    font-size: 20px;
    padding: 10px;
    display: block;
    color: #fff;
    margin-top: 20px;
}
.contact p
{
    text-align: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    margin: 10px;
    font-family: arial;
}
.contact input
{
    border: 1px solid #333;
    border-radius: 15px;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    direction: ltr;
    width: 400px;
    display: block;
    margin-bottom: 10px;
}
.contact textarea
{
    direction: ltr;
    padding: 10px;
    color: black;
    font-size: 16px;
    margin: 10px;
    border-radius: 15px;
    border: 1px solid #333;
    width: 380px;
    height: 100px;
}
.contact button
{
    text-align: center;
    padding: 10px;
    color: black;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid #333;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    font-weight: bold;
}
/*footer*/
.footer
{
    color: #D1D1D3;
    height: 300px;
    direction: ltr;
    align-items: center;
    font-size: larger;
    
}
.footer .footerContent
{
    border: 1px solid #111111;
    color: #D1D1D3;
    height: 260px;
    background-color: #111111;
    display: flex;
    direction: ltr;
    justify-content: center;
}
.footer .footerContent .footer-about
{
    width: 400px;
    height: 200px;
    direction: ltr;
    padding: 10px;
    margin-right: 80px;
}
.footer .footerContent .footer-about p
{
    direction: ltr;
    text-align: justify;
    
}
.footer .footerContent  h4
{
    direction: ltr;
    text-decoration: underline;
    color: #3E4C6D;
    margin: 10px;
}
.footer .footerContent .footer-about ul 
{
    direction: ltr;
    display: flex;
    list-style: none;
    margin: 15px;
    justify-content: center;
}
.footer .footerContent .footer-about ul li a
{
    margin: 0 10px;
}
.footer .footerContent .footer-links
{
    direction: ltr;
    text-align: left;
    margin-right: 80px;
    margin-left: 80px;
}
.footer .footerContent .footer-links ul li
{
    direction: ltr;
    text-align: left;
    margin:  0 15px;
    padding-bottom: 10px;
    color: #D1D1D3;
}
.footer .footerContent .footer-links ul li a
{
    margin: 0 8px;
    color: #D1D1D3;
}
.footer .footerContent .footer-contact
{
    direction: ltr;
    text-align: left;
    margin-right: 80px;
    margin-left: 80px;
}
.footer .footerContent .footer-contact ul li
{
    direction: ltr;
    text-align: left;
    margin:  0 15px;
    list-style: none;
    padding-bottom: 10px;
}
/* bottom*/
.footer .footerbottom
{
    background-color: #333;
    color: #686868;
    height: 40px;
    text-align: center;
    padding: 5px;
}




/*mobile*/
@media screen and (max-width:400px)
{

.toggle
{
   display: block;
}
.navbar2
{
    display: none;
    width: 100%;
    border-top: 1px solid #111111;
    padding-top: 20px;
    margin-top: 30px;
}
    .navbar2 ul li :hover
{
    background-color: #333;
}
    .navbar2 ul li 
{
    padding: 15px 0px;
    width: 100%;
    
}
.navbar2.show{
    display: block;
}
.header
{
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
 }
.header img
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 300px;
    height: 200px;
}
.paragraph
{
    padding: 0px;
    width: 300px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.box2
{
    display: block;
    text-align: center;
    height: auto;
}
.contact
{
    height: auto;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    
}
.contact input
{
    width: 250px;
}
.contact textarea
{
    width: 250px;
}

.footer
{
    width: auto;
    
}
.footer .footerContent
{
    width: auto;
    display: block;
    height: auto;
    text-align: center;
}
.footer .footerContent .footer-about
{
    width: 300px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.footer .footerContent .footer-about p
{
    text-align: center;
}
}
.footer .footerContent .footer-links
{
    text-align: center;
}
.footer .footerContent .footer-contact
{
    text-align: center;
}
.footer .footerContent .footer-contact 
{
    text-align: center;
}
.footer .footerContent .footer-links ul li
{
    padding-bottom: 5px;
    text-align: center;
    list-style: none;
}
.footer .footerContent .footer-contact ul li
{
    padding-bottom: 5px;
    text-align: center;
    list-style: none;
}
}
/*tablet*/
/*tablet*/
/*tablet*/
@media screen and (max-width:768px)
{
 .navbar1 ul li
{
    margin:0 2px;
    padding-top: 10px;
}
.mobileNav .navbar2 ul li
{
    margin:0 2px;
    font-size: 11px; 
}
.navbar2
{
    height: 20px;
}
.mobileNav .navbar2 ul li a
{
    font-size: small;
    
    
}
    
.header
    {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    }
    .header img
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.paragraph
{
    width: 500px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.contact
{
    height: 400px;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}
.contact button
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #333;
    color: #fff;
}
.footer
{
    width: auto;
    
}
.footer .footerContent
{
    width: auto;
}
.footer .footerContent .footer-about
{
    width: 300px;
    height: 200px;
    margin-right: 50px;
}

}
.footer .footerContent .footer-links
{

    margin-right: 0px;
    margin-left: 0px;
}

.footer .footerContent .footer-contact
{
    margin-right: 0px;
    margin-left: 0px;
}
.footer .footerContent .footer-links ul li
{
    padding-bottom: 5px;
}
}

